<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>İletişim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="main-menu">
                <li><a href="/">Homepage</a></li>
                <li><a href="/hakkimizda">About Us</a></li>
                <li><a href="/iletisim">Contact</a></li>
                <li><a href="/create_a_story">Create A Story</a></li>
                <li><a href="https://forms.office.com/r/mxSJK07kGB" class="share-story">Share Your Story</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact">
            <h1>Contact Us</h1>
            
            <!-- Ahmet Altuğ Çolak -->
            <div class="contact-person">
                <h2>Ahmet Altuğ Çolak</h2>
                <p><strong>Email:</strong> altug.colak@vts.com.tr</p>
                <p><strong>Phone:</strong> +90 (552)-000-98-91</p>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/ahmet-altu%C4%9F-%C3%A7olak-530818330/" target="_blank">LinkedIn</a>
                    <a href="https://instagram.com/altugcolakk/" target="_blank">Instagram</a>
                </div>
            </div>

            <!-- Emir Gündoğan -->
            <div class="contact-person">
                <h2>Emir Gündoğan</h2>
                <p><strong>Email:</strong> emirk12gg@gmail.com </p>
                <p><strong>Phone:</strong> +90 (551)-177-50-68</p>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/emir-gündoğan-683a21301/" target="_blank">LinkedIn</a>
                    <a href="https://github.com/emirk12gg" target="_blank">Github</a>
                </div>
            </div>

            <!-- Bora Kayağ -->
            <div class="contact-person">
                <h2>Bora Kayağ</h2>
                <p><strong>Email:</strong> borasera09@gmail.com</p>
                <p><strong>Phone:</strong> +90 (536)-748-82-55</p>
                <div class="social-media">
                    <a href="https://instagram.com/borakayag/" target="_blank">Instagram</a>
                </div>
            </div>

            <!-- Erin Onat Tiryakioğlu -->
            <div class="contact-person">
                <h2>Erin Onat Tiryakioğlu</h2>
                <p><strong>Email:</strong> onat.erin@gmail.com</p>
                <p><strong>Phone:</strong> +90 (552)-323-89-33</p>
                <div class="social-media">
                    <a href="https://instagram.com/onatt.erin/" target="_blank">Instagram</a>
                </div>
            </div>

            <div class="contact-person">
                <h2>Sustain Stories</h2>
                <div class="social-media">
                    <a href="https://www.instagram.com/sustainstories_nasaspaceapps/" target="_blank">Our team's Instagram</a>
                </div>
            </div>

        </section>
    </main>
    <footer>
        <p>&copy; 2024 Climate Change Briefing. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
