<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Climate Change</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="main-menu">
                <li><a href="/">Homepage</a></li>
                <li><a href="/hakkimizda">About Us</a></li>
                <li><a href="/iletisim">Contact</a></li>
                <li><a href="/create_a_story">Create A Story</a></li>
                <li><a href="https://forms.office.com/r/mxSJK07kGB" class="share-story">Share Your Story</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
        <section class="hero-image">
            <div class="overlay">
                <h1>Climate Change Awareness</h1>
                <p>Together we can make a difference.</p>
            </div>
        </section>


        <section class="climate-issues">
            <h2>Climate Change Problems</h2>

            <div class="issue">
                <button class="accordion">1. Warmer Temperatures <span class="custom-arrow"></span></button>
                <div class="panel">
                    <p>Climate change is causing global temperatures to rise as greenhouse gases accumulate in the atmosphere around the world. This temperature increase triggers prolonged heat waves, seriously threatening agricultural production, water resources and human health. Especially in tropical regions, extreme heat can have fatal consequences, leading to decreases in agricultural yields and droughts. At the same time, these changes disrupt rainfall patterns, making extreme natural events such as water shortages and floods more frequent.</p>

                    <p>In cities, the heat island effect is becoming a major problem. Concrete, asphalt, and high-rise buildings contribute to rising temperatures, leading to dangerous temperature spikes in city centers, especially in summer. Extreme heat can cause health problems, especially for the elderly, children, and the chronically ill. Rising temperatures also increase energy consumption, putting pressure on electricity infrastructure and reducing the quality of life in urban areas.</p>
                        
                    <p>Other impacts of global warming include melting glaciers and rising sea levels. This poses a serious threat to communities living in coastal areas, where rising sea levels threaten both agricultural land and settlements. In conclusion, climate change is a multidimensional crisis that has the potential to irreversibly affect the world's ecosystems and human life in the long term unless urgent and comprehensive measures are taken.</p>
                </div>
            </div>

            <div class="issue">
                <button class="accordion">2. Rising Sea Levels <span class="custom-arrow"></span></button>
                <div class="panel">
                    <p>An important effect of climate change is rising sea levels, which are mostly caused by two processes: the melting of glaciers and ice sheets and the thermal expansion of warming seawater. Polar ice caps and glaciers in regions like Greenland and Antarctica are melting more quickly as a result of the atmosphere's buildup of greenhouse gases like carbon dioxide, which is raising global temperatures and dumping enormous volumes of freshwater into the oceans. Further adding to the rise in sea levels is the expansion that occurs when seawater absorbs heat. </p>

		    <p>Both human populations and coastal ecosystems are seriously at risk from this phenomenon. Greater flooding, coastal erosion, and the possibility of millions of people being displaced are problems faced by low-lying areas, including small island states and coastal cities like Miami, Jakarta, and Dhaka. Moreover, as a result of saltwater intrusion into groundwater supplies brought on by rising sea levels, freshwater supplies are put in jeopardy. This can have disastrous consequences for biodiversity, agriculture, and drinking water. It is one of the most important issues in the fight against global climate change because, if current trends continue, the consequences could have enormous effects on the environment, the economy, and human welfare.</p>
                </div>

            </div>

            <div class="issue">
                <button class="accordion">3. Intensifying Tropical Storms <span class="custom-arrow"></span></button>
                <div class="panel">
                    <p>As climate change picks up speed, there is increasing concern about tropical storms getting stronger. Warm ocean waters, which increase in temperature as the world's temperature rises, are the primary source of energy for tropical storms like hurricanes and typhoons. Storm systems can gain more energy from this increased heat, which enables them to intensify, intensify faster, and become stronger. Consequently, there is an increase in Category 4 and 5 hurricane activity, resulting in destructive winds, deluges of rain, and hazardous storm surges. Storms that are intensifying frequently do so quickly, giving communities little time to prepare.</p>
		    
 		    <p>This phenomenon, called "rapid intensification," is especially dangerous because it has the ability to quickly transform a moderate storm into a powerful hurricane in many hours. Moreover, warmer air has a greater capacity to hold moisture, which increases the likelihood of catastrophic flooding during storms by producing heavier rainfall. Although these storms primarily affect coastal and island areas, their effects can also be felt far inland, causing wind damage and flooding. With everything from power outages and infrastructure destruction to human displacement and fatalities, these storms are having a devastating economic and humanitarian impact. We can anticipate that in the upcoming decades, these storms will become even more common and severe if significant efforts are not made to mitigate climate change.</p>
                </div>
            </div>

            <div class="issue">
                <button class="accordion">4. Droughts and Wildfires <span class="custom-arrow"></span></button>
                <div class="panel">
                    <p>Droughts and wildfires are increasingly severe consequences of climate change, often interconnected in their devastating impacts. As global temperatures rise, changes in weather patterns disrupt rainfall cycles, causing prolonged periods of drought in many regions. These droughts dry out soils, vegetation, and forests, creating highly flammable conditions that are ripe for wildfires. In drought-prone areas like the American West, Australia, and parts of the Mediterranean, diminished water availability not only threatens agriculture, freshwater supplies, and ecosystems but also increases the frequency and intensity of wildfires. Prolonged droughts weaken plant life, making forests and grasslands more susceptible to ignition from natural or human sources. Once started, wildfires can spread rapidly across vast areas, consuming everything in their path.</p>
		
		    <p>Compounding this issue, rising temperatures and more intense heatwaves exacerbate the drying of forests and other natural landscapes, effectively turning them into tinderboxes. When fires ignite in these conditions, they tend to burn hotter and spread more aggressively, making them harder to control. The impact of these fires is wide-ranging—entire communities can be displaced, vast swaths of wildlife habitats are destroyed, and the air quality can deteriorate due to smoke and particulate matter, affecting human health even in distant regions. The aftermath of wildfires can also lead to long-term ecological damage, including soil erosion and the loss of biodiversity. As climate change accelerates, the dual threats of worsening droughts and wildfires are expected to become even more frequent, demanding urgent global action to mitigate their causes and effects.</p>

                </div>
            </div>

            <div class="issue">
                <button class="accordion">5. Heavy Rainfall and Floods <span class="custom-arrow"></span></button>
                <div class="panel">
                    <p>Heavy rainfall and floods are becoming more frequent and intense due to climate change, driven by the warming atmosphere’s increased capacity to hold moisture. As global temperatures rise, more water evaporates from the Earth’s surface, and this moisture-laden air can result in extreme rainfall events when it cools and condenses. The increased frequency of heavy downpours contributes directly to flash floods and river flooding, especially in urban areas where impermeable surfaces, like roads and buildings, prevent water from being absorbed into the ground. This sudden, intense rainfall overwhelms drainage systems, leading to floods that can destroy homes, disrupt transportation, and threaten lives.</p>

  		            <p>In regions unprepared for extreme rainfall, the impacts can be devastating. Low-lying areas, especially near rivers or floodplains, are at high risk, with floods often destroying infrastructure, eroding soil, and damaging crops. Coastal regions face additional threats from rising sea levels and storm surges. Beyond physical damage, floods can cause health crises by contaminating water sources and spreading diseases. In agricultural areas, they can wipe out crops, leading to food insecurity and economic losses. As climate change intensifies, more frequent extreme rainfall will further strain vulnerable communities and water management systems.</p>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <p>&copy; 2024 Climate Change Briefing. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
