<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>References</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- CSS Dosyası -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="main-menu">
                <li><a href="/">Homepage</a></li>
                <li><a href="/hakkimizda">About Us</a></li>
                <li><a href="/iletisim">Contact</a></li>
                <li><a href="/create_a_story">Create A Story</a></li>
                <li><a href="https://forms.office.com/r/mxSJK07kGB" class="share-story">Share Your Story</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Kaynakça Bölümü -->
        <section class="references-page">
            <h1>References</h1>
            <p>Below is a list of sources and references for further reading on climate change and its impact.</p>

            <!-- Kaynak Listesi -->
            <ul class="reference-list">
                <li>
                    <a href="https://science.nasa.gov/climate-change/" target="_blank">Nasa Climate Change</a>
                </li>

                <li>
                    <a href="https://www.ipcc.ch/" target="_blank">The Intergovernmental Panel on Climate Change</a>
                </li>

                <li>
                    <a href="https://earth.gov/ghgcenter/data-catalog" target="_blank">GHG Center Data Catalog</a>
                </li>
                <li>
                    <a href="https://www.kaggle.com/datasets/sevgisarac/temperature-change" target="_blank">Kaggle Temperature change</a>
                </li>
                <li>
                    <a href="https://www.kaggle.com/datasets/shuvokumarbasak4004/carbon-dioxide-co2-emissions-by-country" target="_blank">Kaggle Carbon Dioxide (CO2) Emissions by Country</a>
                </li>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Climate Change Briefing. All rights reserved.</p>
    </footer>
</body>
</html>

